body{

 background-image: image();
}

.charachter{
    position:absolute;
    width: 300px;
    left:10%;
    top:41%;    
    transition: translate .3s;
}

.fungo{
    position:absolute;
    width: 0px;
    left:70%;
    top:41%;    
    transition: translate .3s;



    
}

    
